{{ define "main" }}

<div class="row banner">
   <div class="banner-text">
      <h1 class="responsive-headline">James Van Hinsbergh.</h1>
      <h3>PhD Student at the <span>University of Warwick</span>, researching <span>smart cities</span> and upcoming <span>automotive technologies</span>. To find out more, contact me through <span>the contact link above</span> or via the various social media networks.
      <hr />
      <ul class="social">
         <li><a href="https://twitter.com/thedjjavo"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://www.linkedin.com/in/james-van-hinsbergh-0211838a"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://www.instagram.com/djjavo_1/"><i class="fa fa-instagram"></i></a></li>
      </ul>
   </div>
</div>

{{ .Content }}

{{ end }}